<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tym.arvin.hookwechatrevoke">

    <application
        android:label="@string/app_name">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Hook Wechat msg revoke function" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>
